<div class="header">
    <div class="nav">
        <div class="search">
            <input type="text" placeholder="Search..">
            <button type="submit"><img src="./img/search.png" alt=""></button>
        </div>
        <div class="user">
            <a href="#" class="btn">Add New</a>
            <img src="../img/notifications.png" alt="">
            <div class="img-case">
                <img src="../img/user-line.png" alt="">
            </div>
        </div>
    </div>
</div>