<div class="side-menu">
    <div class="brand-name">
        <h1>Cameroun</h1>
    </div>
    <ul>
        <li><a href="http://localhost:8080/Admin"><img src="../img/dashboard-fill.png" alt="">&nbsp;<span>Dashboard</span></a></li>
        <li><a href="http://localhost:8080/user"><img src="../img/product-hunt-fill.png" alt="">&nbsp;<span>user</span> </a></li>
        <li><a href="http://localhost:8080/requests"><img src="../img/user-fill.png" alt="">&nbsp;<span>Birth</span> </a></li>
        <li><a href="#"><img src="../img/store-2-fill.png" alt="">&nbsp;<span>Marriage</span></a></li>
        <li><a href="#"><img src="../img/archive-fill.png" alt="">&nbsp;<span>Death</span></a></li>
        <li><a href="#"><img src="../img/archive-fill.png" alt="">&nbsp;<span>Id card</span></a></li>
        <li><a href="#"><img src="../img/truck-fill.png" alt="">&nbsp; <span>Passport</span></a></li>
        <li><a href="http://localhost:8080/"><img src="./img/logout-box-fill.png" alt="">&nbsp;<span>Logout</span> </a></li>
    </ul>
</div>